
@{
    ViewData["Title"] = "Сокращённая ссылка";
}

<h2>@ViewData["Title"]</h2>
<input type ="text" value="@ViewBag.ShortLink" />
<h3>
    <a href="@ViewBag.ShortLink">Перейти</a>
</h3>
<a href="/">На главную</a>

